<html>
  <head>
    <title>FCC ISQA Project - Personal Library</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  </head>
  <body>
    <div class="container-fluid">
      <header>
        <img src="https://d33wubrfki0l68.cloudfront.net/4ba4ee4d1ac4caf5c0c3fa44ccc8fddd5bd11222/3f5b1/img/freecodecamp-alternative.png" alt="FreeCodeCamp Logo">

        <h1 class="text-center">
          Personal Library
        </h1>
      </header>
      <div id ='sampleposting' class="text-center">
        <h2>Add a new book to the library</h2>
        <div id="addBook">
        <div id="msg"></div>
          <form  id="newBookForm" >
            <div class="border">
              <input id="bookText" type="text" name="title" value="" placeholder="Book Title" required><br>
              <button id="newBook" class="btn btn-default addBook">Add Book!</button>
            </div>
          </form>
        </div>

      </div>
      <hr style='margin: 50px'>
      <div id="myRoww" class="row">

      </div>
      <div id='sampleui' class="text-center booksBorder">
        <h2>Available Books Lists:</h2>
        <div id='display'></div>
        <div id='bookDetail' >
          <p id='detailTitle'>Select a book to see it's details and comments</p>
          <ol id='detailComments'></ol>
        </div>
        <button class="btn btn-danger" id='deleteAllBooks'>Delete all books(Be warned:this is an expensive operation)</button>
      </div>
      <hr style='margin: 50px'>

    </div>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/public/client.js"></script>           
    <script>
      /*
      *  For #sampleposting to update form action url to test inputs book id
      */
      $(function() {
       $('#commentTest').submit(function(){
         var id = $('#idinputtest').val();
         $(this).attr('action', "/api/books/" + id);
       });
      });
   </script>
  </body>
</html>

